xd
test*
/.DS_Store
lua/.DS_Store
/root/.DS_Store
spell/
sessions/
todo.norg
startuptimes
smallest_filemanager.lua
unicode_chars
lua/omega/modules/lsp/python.lua
data.lua
notes.norg
operatorfunc.lua
flexible_heirline.lua
